
html {
    height: 100%;
    background: radial-gradient(circle,white,grey);
    background: -webkit-radial-gradient(circle,white,grey);
    background: -o-radial-gradient(circle,white,grey);
    background: -moz-radial-gradient(circle,white,grey);
}

#container {
    height: 400px;
    width: 550px;
    margin: 100px auto;
    padding: 20px;
    background-color: #A2D1EA;
    box-shadow: 0px 4px 0px 0px #3D8EBB;
    border-radius: 5px;
    position: relative;
}

#score {
    position: absolute;
    background-color: #F1FF92;
    color:#DCE150;
    padding: 11px;
    left: 500px;
    box-shadow: 0px 4px #9da853;
}

#correct {
    position: absolute;
    left: 250px;
    background: green;
    color: white;
    padding: 11px;
    display: none;
}

#tryAgain {
    position: absolute;
    left: 250px;
    background: red;
    color: white;
    padding: 11px;
    display: none;

}

#question {
    height: 150px;
    width: 450px;
    margin: 50px auto 10px auto;
    background-color: #9EA1EC;
    box-shadow: 0px 4px #7088D7;
    text-align: center;
    font-size: 100px;
    font-family: cursive,sans-serif;
    color: black;
}

#instructions {
    height: 50px;
    width: 450px;
    margin: 10px auto;
    background-color: #9EA1EC;
    box-shadow: 0px 4px #5B72A9 ;
    text-align: center;
    line-height: 45px;
}

#choices {
    height: 100px;
    width: 450px;
    margin: 5px auto;   
}

.box {
    background-color: white;
    height: 85px;
    width: 85px;
    float: left;
    margin-right: 36px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.2s;
}

#box4 {
    margin-right: 0px;
}
.box:hover, #startReset:hover{
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}
.box:active, #startReset:active{
    box-shadow: 0px 0px;
    top: 4px;
    
}
#startReset{
    background-color: #D0E8F6;
    width: 78px;
    margin: 0px auto;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.2s;
    padding: 10px;
}
#timeRemaining {
    width: 152px;
    padding: 10px;
    position: absolute;
    top: 395px;
    left: 400px;
    background-color: rgba(181,235,36,0.78);
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0,0,0,0.2);
    display: none;
}

#gameOver {
    height: 200px;
    width: 500px;
    background: linear-gradient(#F0B96B,#F0796D);
    background: -o-linear-gradient(#F0B96B,#F0796D);
    background: -moz-linear-gradient(#F0B96B,#F0796D);
    background: -webkit-linear-gradient(#F0B96B,#F0796D);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    left: 45px;
    z-index: 2;
    display: none;
}
